fastapi==0.88.0
uvicorn[standard]==0.16.0
pydantic==1.10.13
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pymysql
python-dotenv
cryptography==3.4.8  # py3.6 compatible
bcrypt==3.2.0        # py3.6 compatible
